    <div class="wrap-table100">
        <div class="table">
            <div class="row header">
                <div class="cell text-center">
                    Nom du partenaire
                </div>
                <div class="cell text-center">
                    Ville
                </div>
                <div class="cell text-center">
                    Status
                </div>
                <div class="cell text-center">
                    Editer
                </div>
            </div>
            {% for partenaire in partenaires %}
                <div class="row">
                    <div class="cell text-center" data-title="Nom partenaire">
                        {{ partenaire.partenaireName }}
                    </div>
                    <div class="cell text-center" data-title="Ville">
                        {{ partenaire.city }}
                    </div>
                    <div class="cell text-center" data-title="Status">
                        {{ partenaire.status }}
                    </div>
                    <div class="cell text-center" data-title="Editer">
                        <button type="button" class="btn btn-primary"><a class="btn-more" href={{ path('partenaire.show', {id: partenaire.id}) }}>Voir</a></button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>