{% extends 'base.html.twig' %}


        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/css/home.css') }}">
        {% endblock %}
{% block title %}Accueil admin{% endblock %}

{% block body %}
    {% include '_partials/_nav.html.twig' %}
    <div class="fix-top">
        <p>Page d'administration des partenaires et structures de la marque ZoneSport</p>
    </div>
    <div class="title-main">
        <h1>Fitness zone admin</h1>
        <h2>Liste des partenaires</h2>
    </div>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-4 mb-4 w-25 m-auto">
            <p class="text-center">{{ message }}</p>
        </div>
    {% endfor %}


    <form id="ajax">
        <div class="form-check d-flex justify-content-end form-switch me-5">
        <input class="form-check-input mx-3" type="checkbox" name="status" id="status" value="1" >
        <label class="form-check-label me-4 pe-3" for="status">Partenaires actifs seulement</label>
        </div>
    </form>

<div class="container-table100" id="ajax-content">
{% include '_partials/_content.html.twig' %}
</div>
{% endblock %}

{% block javascripts %}<script src="{{ asset('assets/js/filter.js') }}"></script>
    <script src="{{ asset('assets/js/search.js') }}"></script>
{% endblock %}
