{% extends 'base.html.twig' %}

{% block title %}Création permissions{% endblock %}


{% block body %}
    {% include '_partials/_nav.html.twig' %}

    <div class="container">
    {{ form(form) }}
    </div>

{% endblock %}