{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% include '_partials/_nav.html.twig' %}

    <section class="container">
        <div class="row">
            <div class="col">
                <h1>Modification profil</h1>

                {{ form(registrationForm) }}

            </div>
        </div>
    </section>

{% endblock %}
