<h1>Bonjour!</h1>
<p>Veuillez confirmer votre adresse mail pour vous connecter.</p>

<p>Avant d'utiliser la plateforme pour une question de sécurité veuillez modifier dans votre espace personnel le mot de passe qui vous a été attribué</p>

<a href="{{ signedUrl|raw }}">Confirmer votre Email.</a>
