{% extends 'base.html.twig' %}
 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('assets/css/form.css') }}">
 {% endblock %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% include '_partials/_nav.html.twig' %}

    <section class="container">
        
        <div class="row">
            <div class="col">
                <h1>Modification</h1>

                {{ form(registrationForm) }}

            </div>
        </div>
    </section>

{% endblock %}
