{% extends 'base.html.twig' %}

{% block title %}Edition mot de passe{% endblock %}

{% block body %}
    {% include '_partials/_nav.html.twig' %}

    <div class="container">

        <h1 class="mt-4">
            Formulaire de modification de mot de passe
        </h1>
        {% for message in app.flashes('warning') %}
            <div class="alert alert-danger mt-4 mb-4 w-25 m-auto">
                <p class="text-center">{{ message }}</p>
            </div>
        {% endfor %}

        {{ form(form) }}
    </div>

{% endblock %}